/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

.nextLevel {
    background-image: linear-gradient(to right, #f58634,#ffffff, #a1368f);
    background-clip: text;
    color: transparent;   
    transform: translateX(); 
}

html {
  scroll-behavior: smooth;
}

.recentworksection {
  background-image: linear-gradient(to top right, #9b5524, #4e2946, #4e2946);
}


/* Default mobile-first: hidden on small screens */
.testimonial-desktop {
  display: none;
  overflow: hidden;
  flex-direction: column;
  gap: 1.25rem; /* same as Tailwind's gap-5 */
}

/* Show flex on medium screens and up */
@media (min-width: 768px) {
  .testimonial-desktop {
    display: flex;
  }
}


.templateButtonWrapper {

  @media (max-width: 640px){
    display: none;
  }
}

/* @media (max-width: 640px) {
  .templateButtonWrapper {
    display: none;
  }
} */

