.service-list {
  padding-left: 0.5rem; /* px-2 */
  padding-right: 0.5rem;
}

@media (min-width: 640px) {
  .service-list {
    padding-left: 0.75rem; /* sm:px-3 */
    padding-right: 0.75rem;
  }
}

@media (min-width: 768px) {
  .service-list {
    padding-left: 1rem; /* md:px-4 */
    padding-right: 1rem;
  }
}

.service-item {
  cursor: auto;
  width: 100%;
  border-bottom: 1px solid #44163c;
  margin: 0;
  position: relative;
  padding-top: 0.75rem;  /* py-3 */
  padding-bottom: 0.75rem;
}

.bg-slide {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #a1368f, #a1368f);
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out;
}

.hidden {
  display: none;
}

.content-wrapper {
  width: 100%;
  height: 150px;
  color: white;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: relative;
  transition: all 0.7s ease-in-out;
  display: block;
}

@media (min-width: 640px) {
  .content-wrapper {
    height: 100px;
    display: flex;
  }
}

.title-section {
  display: flex;
  width: 100%;
}

@media (min-width: 640px) {
  .title-section {
    width: 40%;
  }
}

.service-num {
  font-size: 1.5rem;
  font-weight: bold;
  width: 10%;
  margin: auto 0;
}

.service-title {
  font-size: 1.5rem;
  font-weight: bold;
  width: 90%;
  margin: auto 0;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .service-title {
    font-size: 1.875rem; /* md:text-3xl */
  }
}

@media (min-width: 1024px) {
  .service-title {
    font-size: 2.25rem; /* lg:text-4xl */
  }
}

.desc-section {
  display: flex;
  width: 100%;
}

@media (min-width: 640px) {
  .desc-section {
    width: 60%;
  }
}

.service-desc {
  width: 90%;
  margin: auto 0;
  text-transform: capitalize;
}

.arrow-wrapper {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.arrow-icon {
  font-size: 1.5rem;
  margin: auto 0;
  width: fit-content;
  transition: all 0.7s ease-in-out;
}
